@-webkit-keyframes animate_heartbeet {
0% { -webkit-transform: scale(0.1, 0.1); }
20% { -webkit-transform: scale(1, 1); }
30% { -webkit-transform: scale(0.97, 0.97); }
40% { -webkit-transform: scale(1, 1); }
50% { -webkit-transform: scale(1.1, 1.1); }
60% { -webkit-transform: scale(0.97, 0.97); }
70% { -webkit-transform: scale(1.1, 1.1); }
100% { -webkit-transform: scale(0.1, 0.1); }
}

@-webkit-keyframes animate_rolein {
0% { -webkit-transform: translate(3em, 0) rotate(135deg); }
50% { -webkit-transform: translate(2em, 0) rotate(90deg); }
80% { -webkit-transform: translate(1em, 0) rotate(45deg); }
100% { -webkit-transform: translate(0, 0) rotate(0deg); }
}

@-webkit-keyframes animate_roleout {
0% { -webkit-transform: translate(0em, 0) rotate(0deg); }
50% { -webkit-transform: translate(1em, 0) rotate(45deg); }
80% { -webkit-transform: translate(2em, 0) rotate(90deg); }
100% { -webkit-transform: translate(3em, 0) rotate(135deg); }
}

.heartbeet {
	-webkit-animation-name: animate_heartbeet;
	-webkit-animation-duration: 1s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.rolein {
	-webkit-animation-name: animate_rolein;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	display: block;
}

.roleout {
	-webkit-animation-name: animate_roleout;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.emotion {
	position: absolute;
}

.share {
	display: none;
	bottom: 0.4em;
	right: 0.4em;
	background-color: #FF665A;
	border-radius: 50%;
	width: 1.8em;
	height: 1.8em;
	text-align: center;
	font-size: 2.2em;
	padding-top: 0.38em;
	color: white;
	box-shadow: 0px 2px 5px gray;
}

.like {
	-webkit-transform: scale(0.1, 0.1);
	display: none;
	color: #FF665A;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 7em;
}
