
a {
	color: #586878;
	text-decoration: none
}
a:hover {
	color: #ff665a
}

.bigblock {
	padding: 20px
}
.bigblock .title {
	font-size: 28px;
	font-weight: 900;
	line-height:1em;
	display: block;
	padding-bottom: 15px
}
.bigblock .image {
	display: block;
	width: 100%;
	height: 600px;
	position: relative
}
.bigblock .bar {
	margin-top: 1em;
	width:100%;
}
.bigblock .views {
	font-size: 14px;
}

.image {
	border: 1px solid #f1f3f7;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.image img{
	max-width: 100%;
}

.bar {
	font-size: 0.8em;
}
.info {
	display: inline-block;
	margin-right: 20px;
	line-height: 30px
}
.time {
	color: #9aaaaa
}

.sharebutton {
	width: 30px;
	height: 30px;
	/*display: inline-block;*/
	float: left;
	border-radius: 4px;
	margin-left: 10px
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #55acee
}
