@import "../lib/ionic/css/ionic.css";
@import "navbar.css";
@import "emotion.css";
@import "real.css";
@import "viz.css";
@import "toast.css";

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.flight-controll{
	position:absolute;
	top:30%;
	width: 100%;
	color:black;
	text-align:center;
}

.full-Screen-digest{
	display:none;
	background-color:#FAFAFA;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0;
}
.full-Screen-digest-title{
	background-color: #FF665A;
	padding:1em;
	color:#FAFAFA;
}
.full-Screen-digest-title i{
	float:right;
}


